@media screen and (min-width: 1024px) and (max-width:1440px) {
    *{
        margin: 0;
        padding: 0%;
        box-sizing: border-box;
    }
    
    body{
        display: flex;
        justify-content: center;
        /* align-content: center; */
        padding-top: .0%;
        font-family: poppins,sans-serif;
        /* background: linear-gradient(#ffafbd , #ffc3a0); */
        background: linear-gradient(#eecda3 , #ef629f);
        background-repeat: no-repeat;
        height: auto;
    }
    #container{
        height: 750px;
        display: block;
        width: auto;
        padding: 1% 3%;
        margin-top:1.5%;
        background-color: rgb(167, 37, 228);
        border-radius: 10px;
    }
    #container .ani{
        font-size: 50px;
        text-align: center;
        padding: 0% 2% 0%;
        background-color: rgb(241, 245, 41);
        border-radius: 10px;
        color: #212121;
    }
    
    #container h1{
        font-size: 50px;
        text-align: center;
        padding: 3% 0 0%;
        color: #ffffff;
    }
    #container button{
        font-size: 20px;
        border: 0px solid black;
        color: black;
        background-color: rgb(241, 245, 41);
        border-radius: 10px;
        font-weight: 500;
        padding: 2% 34%;
        cursor: pointer;
        letter-spacing: 1px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 10% 10% 0;
    }
}
